body{
    font-family:Arial,sans-serif;
    background:#eef3f8;
    margin:40px;
}

h1{
    text-align:center;
    color:#0f4c81;
    margin-bottom:35px;
}

h2{
    color:#0f4c81;
    margin-top:35px;
}

.tarjeta{
    background:white;
    padding:20px;
    margin-bottom:30px;
    border-radius:10px;
    box-shadow:0 5px 12px rgba(0,0,0,.15);
}

.left{
    float:left;
    margin-right:18px;
    border-radius:8px;
}

.right{
    float:right;
    margin-left:18px;
    border-radius:8px;
}

.box{
    float:left;
    width:33.33%;
    padding:35px;
    color:white;
    text-align:center;
    box-sizing:border-box;
    font-size:20px;
}

.rojo{background:#e74c3c;}
.azul{background:#3498db;}
.verde{background:#27ae60;}

.cuadro{
    float:left;
    padding:20px;
    background:#f39c12;
    color:white;
    border-radius:8px;
}

.clear{
    clear:left;
    padding-top:15px;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}